.app-header {
    position        : fixed;
    top             : 0;
    right           : 0;
    left            : 0;
    background-color: #fff;
    box-shadow      : 0px -1px 4px 1px;
    z-index         : 1;

    .main-nav {
        padding: 20px;

        // .links{
        //     display: none;
        // }

        .hamburger {
            display: block;
        }
    }

}

@media (min-width: $narrow-breakpoint) {
    .app-header {
        .main-nav {
            .hamburger {
                display: none;
            }

            .links {
                display: block;

                >* {
                    margin-inline-start: 10px;
                }
            }
        }
    }
}

@media (max-width: $narrow-breakpoint) {
    .main-screen {
        position        : fixed;
        top             : 0;
        left            : 0;
        width           : 100%;
        height          : 100%;
        background-color: rgba(0, 0, 0, .5);
        cursor          : pointer;
        pointer-events  : none;
        opacity         : 0;
        transition      : opacity .8s;
        z-index         : 1;

        &.open {
            opacity       : 1;
            pointer-events: auto;
        }
    }

    .main-nav {
        .links {
            flex-direction  : column;
            position        : fixed;
            right           : 0;
            top             : 0;
            background-color: rgba(255, 255, 255, .9);
            height          : 100vh;
            border-left     : 1px solid #ebebeb;
            box-shadow      : 0px 0px 10px rgba(0, 0, 0, .16);
            transform       : translateX(100%);
            transition      : transform .6s;
            z-index         : 2;

            &.open {
                transform: translateX(0px);
            }

            >* {
                border-bottom: 1px solid #ebebeb;
                display      : block;
                width        : 200px;
                text-align   : center;
                padding      : 12px 0;
                transition   : background-color .3s;

                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }
    }


}